auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
prefer-workspace-packages=true
link-workspace-packages=true
only-built-dependencies[]=esbuild
only-built-dependencies[]=@biomejs/biome
only-built-dependencies[]=core-js
